.none {
	display:none;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
a{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

a.wp, a.drupal, a.preprod, a.prod {
	border: 1px solid #ddd;
	opacity: 0.5;
	border-radius: 5px;
	display: inline-block;
	width: 25%;
	height: 150px;
	background-size: 120px 120px;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -5000px;
	margin-left: 17%;
}

a.preprod, a.prod {
	text-indent: inherit;
	text-align: center;
	font-size: 30px;
	color: #ccc;
	font-weight: bold;
	padding-top: 50px;
}
a.wp:hover, a.drupal:hover, a.preprod:hover, a.prod:hover {
	opacity: 1;
	cursor: pointer;
	text-decoration: none;
}
a.wp {
	background-image: url(../pics/logo_wp.png);
}
a.drupal {
	background-image: url(../pics/logo_drupal.gif);
}
h2, strong {
	color: #047abb;
	font-size: 20px;
}
.question-box {
	text-align: center;
	font-size: 30px;
}
.question-box p.question-text {
	color: #047abb;
}
.question-box label {
	margin: 0 15% 0 15px;
}
.question-box label:last-child {
	margin-right: 0;
}
.question-box div#help {
	border: 1px solid #eee;
	text-align: left;
	font-size: 15px;
	font-weight: normal;
	padding: 5px;
	border-radius: 10px;
}
.question-box div#help h3 {
	color: #ccc;
	font-weight: bold;
}
p.back-to-home {
	font-size: 15px;
}
div.choicePlatform, div.choiceEnvironment {
	/*padding-top: 150px;*/
}
.open-source-project-links {
	display: block;
	width: 100%;
	position: absolute;
    bottom: 20px;
    text-align: center;
}
a.github-button{
	display: block;
	margin: 0 auto;
	height: 32px;
	width: 32px;
	background: url(../pics/github.png) no-repeat center center;
	overflow: hidden;
	text-indent: -5000px;
	opacity: 0.4;
	margin-bottom: 20px;
}
a.github-button:hover {
	opacity: 0.8;
}
#content {
	position: absolute;
    left: calc(50% - 585px);
    top: calc(50% - 150px);
    min-height: 300px;
    vertical-align: middle;
    margin-bottom: 60px;
}
.deploy-result {
	text-align: center;
}
h1.container {
	text-align: center;
    padding-top: 7%;
    font-size: 5em;
}
.no-display{
	display:none;
}
@media only screen and (max-width: 768px){
	a.wp, a.drupal, a.preprod, a.prod, a.github-button, .open-source-project-links {
		display:block;
		width: 90%;
		margin: 20px 5%;
		opacity: 1;
		position: relative;
		bottom: auto;
		left: auto;
		right: auto;
		top: auto;
	}
	a.github-button{
		opacity: 0.8;
	}
	div.choicePlatform, div.choiceEnvironment {
		padding-top: inherit;
	}
	#content {
		position: relative;
		bottom: auto;
		left: auto;
		right: auto;
		top: auto;
		height: auto;
		min-height: auto;
		margin-bottom: 0;
	}
	h1.container{
		font-size: 3em;
	}
}